.main-layout {
  min-width: 1366px;
  height: 100vh;
  display: flex;
  &-sider {
    max-width: 300px;
    min-width: 200px;
    background-color: #15181e !important;
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      height: 80px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
      img {
        width: auto;
      }
      .trigger {
        color: white;
        font-size: 28px;
      }
    }
    .menu {
      padding: 16px;
      margin-top: 16px;
      .ant-menu {
        background-color: transparent;
      }
      .ant-menu-sub {
        background-color: transparent !important;
      }
      .ant-menu-item-group-title {
        color: white;
        text-transform: uppercase;
        margin: 12px 0;
      }
      .ant-menu-item-icon {
        font-size: 20px;
      }
      .ant-menu-item-icon + span {
        font-size: 16px;
        margin-inline-start: 20px;
        font-weight: 400;
      }
      .ant-menu-title-content {
        font-size: 16px;
        margin-left: 24px;
        font-weight: 400;
      }
      .sider-item {
        .menu-title {
          margin: 24px 0;
          padding: 0 24px;
        }
      }
    }
  }

  &-header {
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
    font-weight: 500;
    background-color: #ffffff
  }

  &-content {
    padding: 24px;
    .content {
      &-header {
        padding-bottom: 24px;
      }
    }
  }

  &-footer {
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .05);
    font-weight: 500;
    background-color: #fafafa
  }
}



.container {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 12px;
  padding: 24px;
  background-color: white;
}
