.article-create-page {
  .info-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .article-create-header {
  }
  .article-create-content {
  }
}

.article-create-header {
  .info-form {
    width: 40%;
    margin: 20px auto;
  }
}