.article-derivative-page {
  .article-tag-list, .article-type-list {
    .list-header {
      margin-bottom: 24px;
      .title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}