.draftbox-list-page {
  .draftbox-list {
    .list-header {
      margin-bottom: 24px;
      .title {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .list-content {

    }
  }
}