.profile-page {
  .section:not(:first-child) {
    margin-top: 62px;
  }
  .section-1 {
    .profile-header {
      display: flex;
      align-items: center;
      .header-content-left {
        padding: 32px 24px;
        width: 20%;
        height: 100%;
        margin: 0 24px;
        .userinfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;

          &-content {
            width: 80%;
            p {
              display: flex;
              align-items: center;
              margin-top: 24px;
            }
            .title {
              margin-top: 24px;
              flex: 1;
              font-size: 32px;
              font-weight: bold;
            }
          }
        }
        .action {
          width: 50%;
          margin-top: 24px;
        }
      }
      .header-content-right {
        flex: 1;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        overflow: hidden;
        .header {}
        .content {
          flex: 1;
          font-weight: 600;
          font-size: 32px;
          text-align: center;
          line-height: 100%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            width: 60%;
            line-height: 64px;
          }
        }
        .footer {
          width: 100%;
        }
      }
    }
  }
}

.section-1 {
  .footer {
    color: white;
    padding: 24px;
    .footer-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 100%;
      &-divider {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.71);
      }
    }
    .item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      .title {
        font-size: 18px;
        font-weight: 500;
      }
      .num {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.92);
        font-size: 16px;
      }
    }
  }
}

.section-2 {
  .content {
    display: flex;
    align-items: flex-start;
    .nav {
      width: 20%;
      margin: 0 24px;
      .title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .main-content {
      flex: 1;
      min-height: 500px;
    }
  }
}



@media (min-width: 1200px) and (max-width: 1728px)  {
  .profile-header {
    height: 300px;
  }
}

@media (min-width: 1728px) and (max-width: 1920px) {
  .profile-header {
    height: 400px;
  }
}

@media (min-width: 1920px) {
  .profile-header {
    height: 500px;
  }
}
